{
"instruction" : "This is the base configuration file for the entire MyApp1 application",
"connectionStrings": {
"log": "mongodb://localhost/log-app1"
},
"workers": "5",
"message" : "hello from ApplicationRoot",
"simple-parameter-setting" : "%simple-parameter%",
"complex-parameter-setting" : "%complex-parameter.subparam2%",
}