{
"connectionStrings": {
"log": "mongodb://localhost/log-service1"
},
"override-parameter-complex" : "%complex-parameter.subparam1%",
"override-parameter-test" : "%simple-parameter%",
"partial-parameter" : "this is %simple-parameter% partial",
"subparam2-parameter" : "%complex-parameter.subparam2%"
}