{
  "connectionStrings": {
    "log": "mongodb://localhost/log-service1"
  },
  "override-parameter-complex" : "%complex-parameter.subparam1%",
  "override-parameter-test" : "%simple-parameter%",
  "partial-parameter" : "this is %simple-parameter% partial",
  "partial-multiple-parameter" : "this is %simple-parameter% partial I want also %complex-parameter.subparam1%",
  "subparam2-parameter" : "%complex-parameter.subparam2%",
  "escape-parameter-char" : "this settings contains %% char",
  "double-escape-parameter-char" : "this settings contains %% char and I'm expecting %% not to be altered",
  "paramTest" : "this use %sys.appName% in config",
}