{
"baseSetting" : "hello world app 3",
"nested-settings" : "Composed with %nested%",
"null-setting" : "%null-param%",
"specific" : "%specificParam%",
"overridden" : "%overriddenParam%",
"object-param" : "%{objectParameter}%",
"array-param" : "%{arrayParameter}%",
"array-inner-param" : [
{
"key" : "%simpleText%-otherValue"
}
],
"array-inside-array" : [
  {
  "array" : [
      {
      "key" : "%simpleText%-otherValue"
      }
    ]
  }
],
"array-inner-value" : ["test", "%simpleText%-otherValue"]
}