{
"simple-parameter" : 104,
"complex-parameter" : {
"subparam1" : 1,
"subparam2" : 43,
"subparam3" :
{
"isComplex" : true,
"value" : 11
}
},
"special" : "%sys.appName%",
"nested" : "%ref-param%",
"mongoDb" : {"server" : "localhost"},
"mongoDbprefix": "%sys.appName%",
"objectParameter" :   {
  "Value1" : "test",
  "Value2" : 42
  },
  "arrayParameter" : ["bla", "bla1"],
  "simpleText" : "HELLO"
}